.app {
  
}

.ui_particles {
  height: 260px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header {
  text-align: center;
  padding: 50px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.tabs {
  text-align: center;
  margin-top: 60px;
}

.movies {
}

.movie {
  margin-bottom: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  width: 277px;
}

.movie .card-block {
}

.movie .card-footer {
}

.spinner {
  text-align: center;
  padding: 100px;
}


.logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
